name: Build Limine-bootable ISO

permissions:
  contents: write

on:
  push:
    branches: [ "master" ]
    tags: [ "v*.*.*" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up build environment
        run: |
          audo bash setup.sh
      - name: Build Limine-bootable ISO
        run: |
          bash makeiso.sh
      - name: Upload ISO artifact
        uses: actions/upload-artifact@v4
        with:
          name: cgos-image
          path: cgos.iso
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: cgos.iso
